:root {
    --accent-color: #3584e4;
    --anchor-color: #81d0ff;
    --body-primary-color: #222226;
    --body-secondary-color: #333337;
    --text-primary-color: #ffffff;
    --text-secondary-color: #a3a3a5;
    --navigation-background-color: #2e2e32;
    --border-outline-color: #454545;
    --button-background-color: var(--accent-color);
    --button-text-color: var(--text-primary-color);
    --input-focus-color: #4f77ac;
}

.blog_details {
    color: #d4d4d4;
}

/* for lyrics result */
.yellow::first-letter {
    color: #fdcc4b;
}

.notitle {
    color: #fdcc4b;
}
/* for lyrics result */
