:root {
    --accent-color: #3584e4;
    --anchor-color: #357fca;
    --body-primary-color: #fafafb;
    --body-secondary-color: #fff;
    --text-primary-color: #323237;
    --text-secondary-color: #a3a3a5;
    --navigation-background-color: #ebebed;
    --border-outline-color: #454545;
    --button-background-color: var(--accent-color);
    --button-text-color: #fff;
    --input-focus-color: #81adfe;
}

a:hover {
    color: #0461be;
}

.navigation {
    border: 1px solid #dadadc;
}

.blog_details {
    color: #6f6f6f;
}

/* for lyrics result */
.yellow::first-letter {
    color: #FFBE6F;
}

/* spaghetti code yeah */
.lyrics-res-container {
    margin-top: -1em;
}

.lyrics-res-container, .lyrics-res-container h1, h2 {
    color: #fff !important;
}

.lyrics-res-container a:hover {
    color: var(--anchor-color);
}
