@import url("https://rsms.me/inter/inter.css");

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

:root {
    --accent-color: #3584e4;
    --anchor-color: #81d0ff;
    --body-background-color: #222226;
    --body-secondary-color: #333337;
    --text-primary-color: #ffffff;
    --text-secondary-color: #a3a3a5;
    --border-outline-color: #454545;
    --button-background-color: var(--accent-color);
    --button-text-color: var(--text-primary-color);
}

body {
    font-family: "InterVariable", "Inter";
    font-variant-alternates:
        character-variant(alt-1, uc-g-with-spur)
        styleset(open-digits, disambiguation);
    /* font-display: block; */
    font-size: 18px;
    color: var(--text-primary-color);
    background-color: var(--body-background-color);
    line-height: 1.62;
    overflow-wrap: break-word;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.content {
    max-width: 40em;
    margin: 1em auto 0;
    padding: 0 1.40em 3.64em;
}

.navigation {
    background-color: #38383b;
    padding: 14px 0;
}

.navigation-inner {
    max-width: 38em;
    margin: 0 auto;
    display: flex;
    gap: 4px;
    justify-content: flex-start;
}

.navigation span.last-itm {
    margin-left: auto;
}

.navigation > *:first-child { padding-left: 10px; }
.navigation > *:last-child { padding-right: 10px; }

@media (max-width: 768px) {
    .navigation {
        position: fixed;
        bottom: 0;
        left: 0%;
        right: 0%;
        border-radius: 0;
        padding: 20px;
    }
}

hr {
    border: 1px #9f9f9f solid;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-primary-color);
    line-height: 1.2;
    margin-top: 1.08em;
    margin-bottom: -0.26em;
}

.content > :is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
}

code,
.code-block {
    font-family: "JetBrains Mono";
    font-size: 16px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--body-secondary-color);
}

code {
    padding: 0 10px;
    border-radius: 4px;
    display: inline-block;
}

.code-block {
    word-break: break-word;
    white-space: pre-wrap;
    background-color: var(--body-secondary-color);
    padding: 12px 18px;
    border-radius: 12px;
    display: inline-block;
}

a {
    color: var(--anchor-color);
    transition: color 0.3s ease;
    word-break: break-word; /* possibly a bad choice? */
}

li::marker {
    color: var(--text-primary-color);
}

ol ul, ol ol, ul ol {
    padding-left: 20px;
}

button {
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    background: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    width: 100%;
}

.input-wrapper-group label {
    color: var(--text-primary-color);
    font-weight: bold;
}

.input-wrapper-group {
    padding-bottom: 20px;
}

.input-wrapper-group button {
    margin-top: 20px;
    font-weight: bold;
}

.input-wrapper {
    margin-top: 0.6rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 6px 2px;
    background-color: var(--body-secondary-color);
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.input-wrapper input {
    color: var(--text-primary-color);
    border: none;
    border-radius: 8px;
    background: var(--body-secondary-color);
    padding: 0.6em 0.8em;
    outline: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.input-wrapper input::placeholder {
    color: var(--text-secondary-color);
}

.input-wrapper:focus-within {
    outline: 2px solid #4f77ac;
}

.colored::first-letter {
    color: var(--accent-color);
}
