:root {
    --accent-color: #0090FF;
    --body-background-color: #000000;
    --body-secondary-color: #0A0A0A;
    --primary-text-color: #EDEDED;
    --secondary-text-color: #A1A1A1;
    --border-outline-color: #454545;
    --element-hover-background-color: #171717;
    --button-background-color: #EDEDED;
    --button-text-color: #0A0A0A;
}

/* inter font */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
/* inter font */

body {
    font-size: 18px;
    color: var(--secondary-text-color);
    background-color: var(--body-background-color);
    margin: 1em auto;
    max-width: 40em;
    line-height: 1.62;
    padding: 0 0.92em 3.64em;
    overflow-wrap: break-word;
}

hr {
    margin: 3em 0;
    border: 1px var(--border-outline-color) solid;
}

h1, h2, h3, h4, h5, h6 {
    /* margin-top: 2em; */
    color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

code,
.code-block {
    background-color: var(--body-secondary-color);
    border: 1px var(--border-outline-color) solid;
    font-family: 'JetBrains Mono', monospace;
    word-break: break-word;
    white-space: pre-wrap;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

code {
    padding: 0 6px;
    border-radius: 8px;
    display: inline-block;
}

.code-block {
    padding: 1em;
    border-radius: 12px;
    display: inline-block;
}

code:hover {
    background-color: var(--element-hover-background-color);
}

a {
    color: var(--secondary-text-color);
    transition: color 0.3s ease, transform 0.3s ease;
    word-break: break-word; /* possibly a bad choice? */
}

a:hover {
    color: var(--primary-text-color);
}

li::marker {
    color: var(--primary-text-color);
}

button {
    font-size: 18px;
    padding: 12px;
    border: 1px solid var(--border-outline-color);
    border-radius: 8px;
    background: var(--button-background-color);
    color: var(--button-text-color);
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: translateY(-4px);
}

.input-wrapper {
    border: 1px solid var(--border-outline-color);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--body-secondary-color);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.2em;
}

.input-wrapper label {
    color: var(--secondary-text-color);
    font-size: 1em;
}

.input-wrapper input {
    border: 1px solid var(--border-outline-color);
    border-radius: 8px;
    background: var(--body-secondary-color);
    /* color: var(--primary-text-color); */
    padding: 0.6em 0.8em;
    outline: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.input-wrapper input:focus {
    background-color: var(--element-hover-background-color);
}

.input-wrapper button {
    margin-top: 20px;
}

.colored::first-letter {
    color: var(--accent-color);
}
