{% extends "base.html" %}

{% block title %}
    404 - dev64&#39;s website
{% endblock %}

{% block head %}
{{ super() }}
    <style type="text/css">
        p {
            font-style: italic;
        }

        span {
            font-weight: bold;
        }
        
        .colo_red::first-letter,
        .fof {
            color: #ed4245;
        }

        .gold {
            color: #feca57;
        }

        .hack {
            color: #20bf6b;
        }

        .day {
            color: #ffeaa7;
        }

        .aaa {
            color: #dff9fb;
        }

        .wan { color: #7F8C8D; }
        .lo { color: #E67E6C; }
        .go { color: #F1C40F; }
        .dig { color: #1ABC9C; }
        .we { color: #3498DB; }
        .ma { color: #2ECC71; }
        .ro { color: #9B59B6; }
        .adv { color: #E74C3C; }
        .le { color: #D7B8B8; }
        .ho { color: #C8E6C9; }
        .de { color: #F0D4A1; }
    </style>
{% endblock %}

{% block content %}

    <h1 class="colo_red" onclick="toggleStylesheet()">dev64&#39;s website</h1>

    <p>You’ve <span class="wan">wandered</span> far, you’ve <span class="lo">lost</span> your way,<br>A <span class="fof">404</span> greets you, here to stay.<br>This page you seek has <span class="go">gone </span>astray,<br>A <span class="dig">digital ghost</span> that won’t obey.</p>

    <p>But don’t give up, don’t lose your cheer,<br>The <span class="we">web</span> is vast, and help is near.<br>A simple click, a scroll, a tap,<br>And soon you'll be back on the <span class="ma">map.</span></p>
    
    <p>So let’s <span class="le">leave</span> this page, it’s time to <span class="ro">roam</span>,<br><a href="/">Find your way back</a>, back to <span class="ho">home</span>.<br>No more <span class="de">detours</span>, no more missteps,<br>Just endless paths where <span class="adv">adventure</span> rests.</p>

{% endblock %}
