{% extends "base.html" %}

{% block title %}
    blogs - dev64&#39;s website
{% endblock %}

{% block navigation_inner %}

    <div class="navigation-inner">
        <span><a href="/">Index</a></span>
        <span class="primary-text-color">&gt;</span>
        <span><a href="{{ request.full_url }}" class="current-endpoint">Blog</a></span>
    </div>
    
{% endblock %}

{% block content %}

    <h1 class="colored">Blog</h1>

    <p>Posts, opinion, updates, thoughts, and more on various topics. Not much else to say, just check the posts below.</p>

    <h2>Posts</h2>
    <ul>
        {% for blog in blogs.items() %}
            <li><a href="/blog/{{ blog[1] }}">{{ blog[0] }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
