{% extends "base.html" %}

{% block title %}
    blog post: {{ blog_title }} - dev64&#39;s website
{% endblock %}

{% block head %}
{{ super() }}

<style type="text/css">
    .blog_details {
        font-style: italic;
        font-size: 0.8em;
        text-align: center;
        color: #d4d4d4;
    }
</style>

{% endblock %}

{% block navigation_inner %}

    <div class="navigation-inner">
        <span><a href="/">Index</a></span>
        <span class="primary-text-color">&gt;</span>
        <span><a href="/blog">Blog</a></span>
        <span class="primary-text-color">&gt;</span>
        <span><a href="{{ request.full_url }}" class="current-endpoint">{{ blog_title }}</a></span>
    </div>
    
{% endblock %}

{% block content %}

    <h1 class="colored">{{ blog_title }}</h1>

    {{ blog_data | safe }}

    <hr>

    <span class="blog_details"><p>Created: {{ date_created }}<br>Modified: {{ date_last_modified }}<br><a href="https://github.com/devlocalhost/website/commits/master/blogs/{{ request.path.split('/')[-1] }}.md">View history</a></p></span>

{% endblock %}
