{% extends "base.html" %}

{% block title %}
    blog post: {{ blog_title }} - dev64&#39;s website
{% endblock %}

{% block head %}
{{ super() }}

<style type="text/css">
    .blog_details {
        font-style: italic;
        text-align: center;
        color: #d4d4d4;
    }
</style>

{% endblock %}

{% block content %}

    <div class="navigation-top">
        <span><a href="/blog">← Blogs</a></span>
        <span class="backbtn" onclick="history.back()">→ kcaB</span>
    </div>

    <h1 class="colored" onclick="toggleStylesheet()">{{ blog_title }}</h1>

    {{ blog_data | safe }}

    <hr>

    <span class="blog_details"><p>Blog post created at: {{ date_created }}<br>And last modified at: {{ date_last_modified }}</p></span>
    
{% endblock %}
