{% extends "base.html" %}

{% block title %}
    index - dev64&#39;s website
{% endblock %}

{% block content %}
    <h1 class="colored">dev64&#39;s website</h1>
    <p>Welcome to my web<a href="/s">s</a>ite. There is not too much to say for now...</p>

    <h2 class="colored">Blogs</h2>
    <p>Read random words written by me by clicking <a href="/blog">here</a>.</p>

    <h2>Links</h2>
    
    <h3>Internal:</h3>
    <ul>
        <li><a href="/whatisdevlisteningto">What is dev listening to?</a></li>
        <li><a href="/lyrics">Lyrics (pylyrical)</a></li>
        <li><a href="/blog/projects">My projects (blog)</a></li>
        <li><a href="/blog/website_status">Status of the website (blog)</a></li>
    </ul>

    <h3>External:</h3>
    <ul>
        <li><a href="https://devlocalhost.github.io/lu">laurel_updates</a></li>
        <li><a href="https://teleoasth.dev64.xyz">teleoasth</a></li>
        <li><a href="https://pylyrical.dev64.xyz">pylyrical</a></li>
        <li><a href="https://trackard.dev64.xyz">trackard</a></li>
        <li><a href="https://shl.dev64.xyz">shl</a></li>
        <li><a href="https://f.dev64.xyz">File index</a></li>
        <li><a href="https://u.dev64.xyz">File uploader</a></li>
        <li><a href="https://b.dev64.xyz">mkr/bin (haste/pastebin like)</a></li>
    </ul>
    
{% endblock %}
