{% extends "base.html" %}

{% block title %}
    index - dev64&#39;s website
{% endblock %}

{% block head %}
{{ super() }}

<style>
    .old-index {
        color: #E5484D;
    }
</style>

{% endblock %}

{% block content %}

    <div class="navigation">
        <span><a href="/" class="current-endpoint">Index</a></span>
        <span><a href="/?old=true" class="old-index">Old Index</a></span>
    </div>

    <hr>

    <h1 class="colored">dev64.</h1>
    <p><span class="primary-text-color">A (2005 - {current_year}) year old Python and "Web" (HTML &amp; CSS) developer.</span> For more de<a href="/t">t</a>ail<a href="/s">s</a>, click <a href="/blog/whoami">here</a>.</p>

    <h2>What's this?</h2>
    <p>My personal website! You won't really find much here to be honest, I have no idea what to add or what to do, so... check my <a href="/blog">blogs</a> or <a href="/blog/sitemap">sitemap</a>.</p>

{% endblock %}
