{% extends "base.html" %}

{% block title %}
    lyrics - dev64&#39;s website
{% endblock %}

{% block content %}

    <div class="navigation">
        <span><a href="/">Index</a> <span class="primary-text-color">&gt;</span> <a href="{{ request.full_url }}" class="current-endpoint">Lyrics</a></span>
    </div>

    <hr>

    <h1 class="colored">Lyrics - PyLyrical</h1>

    <p>Lyrics using <a href="https://pylyrical.dev64.xyz">pylyrical</a>. A "wrapper", you could say, for <a href="https://genius.com" target="_blank">genius.com</a>, but better. No ads, no annoying pop ups. Just the lyrics.</p>

    <p><span class="primary-text-color">Note: The API takes a few seconds to get the lyrics, so be patient. If it takes too long or you see an error, just reload the page.</p>

    <h2>Get lyrics</h2>
    <form action="/lyrics" method="get">
        <div class="input-wrapper">
            <label for="search_query">Enter song title</label>
            
            <input type="search" id="search_query" name="search_query" placeholder="The Weeknd How Do I Make You Love Me?" required="">
            
            <button type="submit">Search</button>
        </div>
    </form>

{% endblock %}
