{% extends "base.html" %}

{% block title %}
    status - dev64&#39;s website
{% endblock %}

{% block content %}

    <div class="navigation">
        <span><a href="/">Index</a> <span class="primary-text-color">&gt;</span> <a href="{{ request.full_url }}" class="current-endpoint">Status</a></span>
    </div>

    <hr>

    <h1 class="colored">Status</h1>

    <h2>Debug</h2>
    <ul>
        <li>Commit: <code>{{ data[0] }}</code> <a href="https://github.com/devlocalhost/website/commit/{{ data[0] }}">{{ data[1] }}</a></li>
        <li>Platform: <code>{{ data[2] }}</code></li>
        <li>Website uptime: {{ data[5] }}</li>
        <li>Mode: {{ data[7] }}</li>
    </ul>

    <h2>Host</h2>
    <ul>
        <li>Uptime: {{ get_uptime(data[6][2]["uptime"]["seconds"]) }} (since {{ get_uptime_since(data[6][2]["uptime"]["timestamp"]) }} UTC)</li>

        <li>Memory usage:</li>
            <ol>
                <li>Physical:</li>
                <ul>
                    <li>Used: {{ data[6][1]["physical"]["percentage"]["used"] }}%</li>
                    <li>Available: {{ data[6][1]["physical"]["percentage"]["available"] }}%</li>
                </ul>

                <li>Virtual:</li>
                <ul>
                {% if data[6][1]["virtual"]["values"]["total"] != 0 %}
                    <li>Used: {{ data[6][1]["virtual"]["percentage"]["used"] }}%</li>
                    <li>Free: {{ data[6][1]["virtual"]["percentage"]["free"] }}%</li>
                {% else %}
                    <li>Disabled</li>
                {% endif %}
                </ul>
            </ol>

        <li>Load times: {{ data[6][2]["load_times"]["1"] }}, {{ data[6][2]["load_times"]["5"] }}, {{ data[6][2]["load_times"]["15"] }}</li>
    </ul>

{% endblock %}
