{% extends "base.html" %}

{% block title %}
    testpage - dev64&#39;s website
{% endblock %}

{% block navigation_inner %}

    <div class="navigation-inner">
        <span><a href="/">Index</a></span>
        <span class="primary-text-color">&gt;</span>
        <span><a href="{{ request.full_url }}" class="current-endpoint">Testpage</a></span>
    </div>
    
{% endblock %}

{% block content %}

    <h1 class="colored">The test page</h1>
    <p>In this page, you will (should?) find most elements used around the website. P (paragraph) tags, anchor (links) tags, code blocks, headers, etc. Very helpful for me to test and improve the UI of the website. Have fun i guess.</p>

    <hr>

    <h2>Headers</h2>
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>

    <h2>Text</h2>
    <p>
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
0123456789!?<br>
Pixel preview  Resize to fit zenith zone<br>
Frame  Group  Feedback  Reset<br>
Day day  Month month  Year year<br>
Hour hour  Minute minute  Second second<br>
Size  Overlay  Ork  Grids  Cursors<br>
Background  Desktop App  Lamp  Preferences<br>
Rectangle  Ellipsis  Component  Settings<br>
Pass–Through  Spacing  Help  Tutorials  Release Notes<br>
iOS Android Apple macOS Microsoft Windows  Onboarding<br>
12.4 pt  64%  90px  45 kg   12 o'clock  $64 $7  €64 €64  £7 £7<br>
elk  best  mnm "DCGQOMN"<br>
Identity  identity (M) [M] {M} <M><br>
The quick brown fox jumps over the lazy dog<br>
Efraim  User account  Text Tool  Team Library<br>
Monster  Lars, stina<br>
jumping far—but not really—over the bar<br>
Open File  Ryan<br>
Documentation  Xerox<br>
War, what is it good for? Absolutely nothing<br>
We found a fix to the ffi problem<br>
Irrational  fi  ffi  fl  ffl<br>
rsms@notion.se<br>
0 1 2 3 4 5 6 7 8 9  7*4  7×4  3/4  7÷8  3° ℃ ℉<br>
#80A6F3  #FFFFFF  #000000<br>
in Drafts • 3 hours ago  Cheer Google Account<br>
• Buy milk?  cc cd ce cg co  ec ed ee eg eo  oc od oe og oo<br>
LAYER  TEXT  FILL  STROKE  EFFECTS  EXPORT<br>
THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG<br>
the quick brown fox jumps over the lazy dog<br>
nanbncndnenfngnhninjnknlnmnnonpnqnrnsntnunvnwnxnynzn<br>
HAHBHCHDHEHFHGHHIHJHKHLHMHNHOHPHQHRHSHTHUHVHWHXHYHZH<br>
Å Ä Ö Ë Ü Ï Ÿ å ä ö ë ü ï ÿ Ø ø • ∞ ~<br>
. ‥ … → ← ↑ ↓<br>
01 02 03 04 05 06 07 08 09 00<br>
11 12 13 14 15 16 17 18 19 10<br>
21 22 23 24 25 26 27 28 29 20<br>
31 32 33 34 35 36 37 38 39 30<br>
41 42 43 44 45 46 47 48 49 40<br>
51 52 53 54 55 56 57 58 59 50<br>
61 62 63 64 65 66 67 68 69 60<br>
71 72 73 74 75 76 77 78 79 70<br>
81 82 83 84 85 86 87 88 89 80<br>
91 92 93 94 95 96 97 98 99 90
</p>
    
    <h2>Codeblocks</h2>
    <h3>Code block:</h3>
    <code class="code-block">The silence afterward was... expectant. He walks backwards through the wheat field, whispering the names of those who never slept. One more and the gate opens. You spilled salt again, didn’t you? They don’t like that. They’ll come in threes tonight. Don't answer the knocking. Your shadow moves faster than you do. That's how we knew. When it detaches, follow it. Don’t look behind you. The eyes blinked for the first time since you last spoke. We fed them the feathers like before. They see you now. Perfectly.</code>

    <h3>P block mixed with a code block:</h3>
    <p>The circle is drawn. All we need is your name, spoken thrice under a new moon. You are nearly ready. <code>Do you feel it too?</code></p>

    <h2>Anchor tags</h2>
    <p>I can't do well when I think you're gonna leave me, But I know I try... <a href="https://www.youtube.com/watch?v=hN5X4kGhAtU">Are you gonna leave me now?</a> Can't you be believin' now?</p>

    <h2>Lists</h2>
    <p>All kind of lists, numbered, unordered, nested.</p>

    <p>Mixed:</p>
    <ol>
        <li>First item</li>
        <li>Second item
            <ul>
                <li>Sub-item A</li>
                <li>Sub-item B</li>
            </ul>
        </li>
        <li>Third item
            <ol>
                <li>Sub-step 1</li>
                <li>Sub-step 2
                    <ul>
                        <li>Detail a</li>
                        <li>Detail b</li>
                    </ul>
                </li>
            </ol>
        </li>
    </ol>

    <p>Ordered:</p>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <p>Unordered:</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <p>Ordered and unordered:</p>
    <ol>
        <li>Item 1
            <ul>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <p>Unordered and ordered:</p>
    <ul>
        <li>Item 1
            <ol>
                <li>Item a</li>
                <li>Item b</li>
            </ol>
        </li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <h2>Input bars</h2>

    <p>Input bars and forms with text, number and form types</p>

    <div class="input-wrapper-group">
        <label for="text_input">We gave your name to the roots this time.</label>
        
        <div class="input-wrapper">
            <input type="text" id="text_input" placeholder="We watched you in the mirror again">
        </div>
    </div>

    <div class="input-wrapper-group">
        <label for="number_input">You are the 9th to speak. Only 3 ever returned.</label>

        <div class="input-wrapper">
            <input type="number" id="number_input" placeholder="42">
        </div>
    </div>
   
    <form>
        <div class="input-wrapper-group">
            <label for="text_input">Your birthmark has 7 ridges. That's how they found you.</label>
            <div class="input-wrapper">
                <input type="text" id="text_input" placeholder="That’s the order. We’ve already done two.
        ">
            </div>
            <button type="submit">Find answer to life</button>
        </div>
    </form>
    

{% endblock %}
