{% extends "base.html" %}

{% block title %}
    what is dev listening to - dev64&#39;s website
{% endblock %}

{% block content %}

    <div class="navigation-top">
        <span><a href="/">← Home</a></span>
        <span class="backbtn">i redlohecalP</span>
    </div>

    <h1 class="colored">What is dev listening to?</h1>

    <p>He {{ "is" if listen_data[2] else "was" }} listening to <code>{{ listen_data[0] }} by {{ listen_data[1] }}</code> {{ "since" if listen_data[2] else "at" }} {{ listen_data[3] }} (might be inaccurate). Service: {{ ('<a href="https://www.last.fm/user/dev64">Last.fm</a>' if service == "Last.fm" else ('<a href="https://listenbrainz.org/user/dev64/">ListenBrainz</a>' if service == "ListenBrainz" else 'Unknown')) | safe }}</p>

    <h2>Other</h2>

    <p>Click <a href="https://trackard.dev64.xyz/get?username=dev64&service={{ listen_data[4] }}&track_title_artist=&spotify_track_id=&cover_brightness=1.10&cover_blur_radius=30&cover_round_radius=30&container_transparency=30&container_round_radius=45&text_length_limit_title=28&text_length_limit_artist=28&text_length_limit_album=28">here</a> to generate an image for that song using <a href="https://trackard.dev64.xyz/">trackard</a>, or <a href="/placeholder">here</a> to see the lyrics for that song using <a href="https://pylyrical.dev64.xyz/">pylyrical</a>.</p>

{% endblock %}
